.container {
    padding: 100px;
    padding-bottom: 200px;
    text-align: center;
    color: white;
    position: relative; /* Add relative positioning */
    background-image: url(../assets/image/image.png);
    background-size: cover; /* This ensures that the background image covers the entire viewport */
    background-position: center; /* This centers the background image */
    background-repeat: no-repeat; 
}
p {
    font-size: 2rem;
}
h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 20px; /* Add margin to separate from the buttons */
}
button {
    padding: 10px 30px; /* Adjust button padding for better spacing */
    font-size: 20px;
    margin-top: 10px; /* Add margin to the top of buttons */
    color: white;
    font-weight: bold;
    cursor: pointer;
}
span{
    color: #FF3E41;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center align buttons */
    gap: 20px;
}
.customer{
    background-color: #FF3E41;
}
.shipper{
    background-color: #51CFED;
}
span {
    font-weight: bold;
}
@media screen and (max-width: 768px) { /* Adjustments for smaller screens */
    .container {
        padding: 30px;
    }
    p, h1, button {
        font-size: 1.5rem; /* Reduce font sizes */
    }
}