body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar{
    position: -webkit-sticky;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282835;
}

/* .logo {
    max-width: 100%;
    height: auto;
} */

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin-right: 20px;
}

.navbar-menu li a {
    text-decoration: none;
    color: white;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #282835;
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .logo{
        height: 60px;
        width: 100%;
    }
    .navbar-menu {
        display: none;
    }

    .navbar-menu.active {
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        position: relative;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .navbar-menu.active li {
        margin-right: 0;
        margin-top: 10px;
    }

    .navbar-toggle {
        display: block;
    }
}


/* footer*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #282835;
    color: white;
    text-align: center;  
    padding: 1.5rem 0;  
    padding: 0;
}
/* style.css */

.heading{
    display: flex;
    justify-content: center;
}
.shipment-card {
    /* Vertically center the content */
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #fbcdcd;
    border: #555;
    align-items: center;
    overflow: hidden;
    margin-bottom: 60px;
    border-radius: 5px;
}
.shipment-card span {
    margin-bottom: 5px;
    font-weight: bold;
}
.shipment-image-id{
    background-color: red;

}
.shipment-card img{
    width: 100%;
  height: auto;
  align-items: center;
  border-radius: 5px;
}
.shipment-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.shipment-card p {
    font-size: 14px;
    color: #555;
}

.shipment-card a{
    cursor: pointer;
}

.container-card{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));    
}


.shipment-card-id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    background-color: #fbcdcd;
    border: #555;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 100px;
}

.shipment-card-id img{
  height: auto;
  width: 30%;
}
.shipment-card-id span {
    margin-bottom: 5px;
    font-weight: bold;
}
.shipment-card-id h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.shipment-card-id p {
    font-size: 14px;
    color: #555;
}

.shipment-card-id a{
    cursor: pointer;
}

.shipment-card-id input[type="number"],button[type="submit"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.shipment-card-id button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 50%;
}




/*add shipment css*/

/* Style the form container */
#shipmentForm {
    max-width: 600px;
    margin: 0 auto;
}

/* Style form elements */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

fieldset {
    border: none;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"],
input[type="number"],
input[type="file"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

 form textarea {
    width: 100%; 
    padding: 1em; 
    margin-bottom: 1.5em; 
    border: 0.1em solid #ccc; 
    border-radius: 0.4em; 
    resize: vertical; 
    min-height: 6em; 
    box-sizing: border-box;
}
