body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em;
    background-color: black;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-menu li {
    margin-right: 1.25em;
}

.navbar-menu li a {
    text-decoration: none;
    color: white;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    width: 1.5625em;
    height: 0.1875em;
    background-color: #333;
    margin: 0.3125em 0;
}

@media screen and (max-width: 48em) {
    .navbar-menu {
        display: none;
    }

    .navbar-menu.active {
        display: flex;
        flex-direction: column;
        top: 100%;
        left: 0;
        position: relative;
        box-shadow: 0 0.25em 0.625em rgba(0,0,0,0.1);
    }

    .navbar-menu.active li {
        margin-right: 0;
        margin-top: 0.625em;
    }

    .navbar-toggle {
        display: block;
    }
}

.heading {
    display: flex;
    justify-content: center;
}

.shipment-card {
    border: 0.0625em solid #ddd;
    padding: 0.625em;
    margin: 0.625em;
    background-color: #f9f9f9;
    border: 0.0625em solid #555;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10%;
    -webkit-box-shadow: 0.0625em 0.0625em 0.3125em 0em rgba(0,0,0,0.4);
-moz-box-shadow: 0.0625em 0.0625em 0.3125em 0em rgba(0,0,0,0.4);
box-shadow: 0.0625em 0.0625em 0.3125em 0em rgba(0,0,0,0.4);

}

.shipment-card h3 {
    font-size: 1.125em;
    margin-bottom: 0.3125em;
}

.shipment-card p {
    font-size: 0.875em;
    color: #555;
}

.shipment-card a {
    cursor: pointer;
}

.container-card {
    display: grid;
    grid-template-columns: 50% 50%;
}
